:root {
  /* FONTS */
  --fnt-1: "Playfair Display", serif;
  --fnt-2: "Raleway", sans-serif;

  /* COLOR */
  --pmy-color: #4ba87d;

  /* Widths  */
  --mx-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Utilities */
.btn--primary-green {
  font-family: var(--fnt-2);
  font-weight: 800;
  color: white;
  background-color: var(--pmy-color);
  border: 3px solid var(--pmy-color);
}

.btn--primary-green:hover {
  background-color: white;
  color: var(--pmy-color);
}

.btn--secondary-white {
  font-family: var(--fnt-2);
  font-weight: 800;
  color: var(--pmy-color);
  border: 3px solid var(--pmy-color);
  background-color: white;
}

.btn--secondary-white:hover {
  background-color: var(--pmy-color);
  color: white;
}

/* -------------- HEADER -------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  max-width: var(--mx-width);
  margin: 0 auto;
}

.header-navigation {
  display: none;
  margin-left: auto;
  margin-right: 30px;
}

.header-navigation__list {
  display: flex;
  gap: 15px;
}

.header-navigation__item {
  list-style: none;
}

.header-navigation__anchor {
  font-size: 0.9rem;
  font-family: var(--fnt-2);
  font-weight: 800;
  text-decoration: none;
  color: black;
  padding: 0 10px 5px 10px;
  position: relative;
}

.header-navigation__anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  border-bottom: 4px solid var(--pmy-color);
  transform: translate(-50%, 0);
  transition: 0.5s;
}

.header-navigation__anchor:hover::after {
  width: 100%;
}

.signup-btn {
  font-size: 0.9rem;
  padding: 4px 15px;
}

/* -------------- HERO SECTION -------------- */
.hero-section {
  margin-top: 50px;
  max-width: var(--mx-width);
}

.hero-intro {
  position: relative;
  width: 100%;
  max-width: 508px;
  margin: 0 auto;
}

.hero-intro__text {
  position: absolute;
  top: -50px;
  margin: 0 10px;
  min-height: 318px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-10px);
  animation-name: enterFromLeft;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-intro__title {
  font-size: 2.3rem;
  font-family: var(--fnt-1);
  max-width: 95%;
  font-weight: 900;
}

.hero-intro__caption {
  font-size: 0.9rem;
  font-family: var(--fnt-2);
  font-weight: 500;
  margin-top: auto;
}

.hero-intro__buttons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  max-width: 300px;
}

.trynow-btn,
.getademo-btn {
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  padding: 8px;
}

.hero-intro__image {
  display: block;
  max-width: 400px;
  margin-left: auto;
  opacity: 0;
  animation-name: enterImage;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes enterImage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* -------------- TESTIMONIAL SECTION -------------- */
.testimonial {
  background-color: #f7f7f7;
  padding: 10px;
  margin-top: 110px;
  position: relative;
}

.testimonial__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-video {
  width: 100%;
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 15px auto 0 auto;
}

.testimonial-video__video {
  margin: 0 auto;
  width: 100%;
}

.testimonial-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.297);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.testimonial-text__heading {
  color: white;
  font-family: var(--fnt-1);
  font-size: clamp(1.5rem, 0.5rem + 4.5vw, 4rem);
}

.learn-btn {
  color: var(--pmy-color);
  font-family: var(--fnt-2);
  font-weight: 800;
  background-color: white;
  padding: 10px 20px;
  font-size: clamp(0.4rem, 0.1rem + 3vw, 1.3rem);
}

.learn-btn:hover {
  background-color: var(--pmy-color);
  color: white;
}
